body {
  background-color: #12418e;
  background-image: url(bg2.png);
  background-size: 100% 100%;
  text-align: center;
}

.covers-container {
  width: 85%;
  display: block;
  margin: auto;
  margin-top: 500px;
}

.cover {
  width: 180px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 15px;
  transition: box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
}

.cover:hover {
  box-shadow: -1px -1px 10px 10px rgba(25, 164, 216 ,0.56);
  transform: scale(1.1);
}
